---
const currentYear = new Date().getFullYear();
import SocialLinks from '../components/SocialLinks.astro'
---



<div class="mt-auto justify-self-auto flex items-center justify-between">
  <p class="text-xs text-gray-600 dark:text-gray-300">&copy; {currentYear} Maya Engel</p>
  <div class="transition-opacity duration-300 hover:opacity-90 "><SocialLinks /></div>
</div>

