---
import ThemeToggle from './ThemeToggle.astro';
import { siteConfig } from '../config';

const navItems = [
  { href: '/projects/concertworks', text: 'concert works' },
  { href: '/projects/gameaudio', text: 'game audio' },
  { href: '/about', text: 'about' },
  { href: '/blog', text: 'blog' },
  { href: '/contact', text: 'contact' },
];
---

<nav class="py-6 flex flex-wrap items-center justify-between">
  <a href="/" class="text-2xl font-bold hover:bg-neutral-200 dark:hover:bg-neutral-700 rounded-md">
    { siteConfig.title }
  </a>
  <div class="flex flex-wrap items-center gap-4 md:flex-nowrap ">
    {navItems.map(({ href, text }) => (
      <a
        href={href}
        class="hover:bg-neutral-200 dark:hover:bg-neutral-700 rounded-md"
      >
        {text}
      </a>
    ))}
    <ThemeToggle />
  </div>
</nav>
