---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { siteConfig } from '../../../config';
---

<BaseLayout title={siteConfig.title}>
  <h1 class="text-4xl font-bold mb-8">Concert works</h1>
  <div class="text-left mb-16 mt-20">
    concert works
  </div>

</BaseLayout>
